<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>Title</title>
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>회원 목록</h2>
    </div>

    <div class="row">
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='join.html'"
                    th:onclick="|location.href='@{/join}'|"
                    type="button">회원 등록</button>
        </div>
        <div class="col">
            <button class="w-100 btn btn-secondary btn-lg"
                    onclick="location.href='login.html'"
                    th:onclick="|location.href='@{/login}'|"
                    type="button">로그아웃</button>
        </div>
    </div>

    <hr class="my-4">

    <div>
        <table class="table">
            <thead>
            <tr>
                <th>아이디</th>
                <th>이름</th>
                <th>나이</th>
                <th>권한</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="member : ${members}">
                <td><a href="member.html"
                    th:href="@{/members/{memberId}(memberId=${member.memberId})}"
                    th:text="${member.memberId}"></a></td>
                <td th:text="${member.memberName}" ></td>
                <td th:text="${member.age}" ></td>
                <td th:text="${member.authority.description}" ></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>